.sign-out-tool-kit {
  position: relative;
}

.sign-out-tool-kit::before {
  position: absolute;
  content: "";
}

.sign-out-tool-kit:hover::before {
  position: absolute;
  content: "Sign out";
  font-weight: 500;
  width: 88px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 150%;
  left: -200%;
  z-index: 5;
  background-color: white;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.05);
  color: black;
}
